<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WonderBoon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <description>Location to store uploaded file</description>
  <param-name>file-upload</param-name>
  <param-value>F:\workspace\WonderBoon\WebContent\Admin\upload
  </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListServlet</display-name>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>controller.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/Admin/CustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDeleteServlet</display-name>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>controller.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/Admin/CustomerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>controller.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/Admin/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet</display-name>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>controller.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/Admin/ProductDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>controller.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/Admin/ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateServlet</display-name>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>controller.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/Admin/ProductUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInsertServlet</display-name>
    <servlet-name>ProductInsertServlet</servlet-name>
    <servlet-class>controller.ProductInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInsertServlet</servlet-name>
    <url-pattern>/Admin/ProductInsertServlet</url-pattern>
  </servlet-mapping>
</web-app>